{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome, {{ preferred_name|default:full_name }}</h1>
    <hr>
    {% include 'partials/user_info.html' %}
    
    {% if status_code == 'STA' %}
        <h2>Staff Administration</h2>
        <ul>
            <li><a href="{% url 'core:get_roles' %}">View My Departments</a></li>
            <li>Search Student Records</li>
            <li>Audit Identity Sequences</li>
            <li><a href="{% url 'core:apply_affiliation' %}">Apply to a department</a></li>
        </ul>
    {% elif status_code == 'STU' %}
        <h2>Student Services</h2>
        <ul>
            <li><a href="{% url 'core:get_roles' %}">View My Enrolments</a></li>
            <li>Request Identity Letter</li>
            <li><a href="{% url 'core:apply_affiliation' %}">Apply to a module</a></li>
        </ul>
    {% else %}
        <h2>Admin Services</h2>
        <ul>
            <li><a href="{% url 'core:affiliation_approvals' %}">Approve staff and student affiliations</a></li>
            <li><a href="{% url 'admin:index' %}">Admin panels</a></li>
        </ul>
    {% endif %}
    <div>
        <h3>Your affiliations</h3>

        {% if not affiliations %}
        <p class="helptext">No affiliations found.</p>
        {% endif %}

        <ul>
            {% for aff in affiliations %}
                {% if not aff.is_active %}
                    <li class="helptext">
                        {{ aff.affiliation_id }} (⏳ Pending admin approval)
                    </li>
                {% else %}
                    <li>
                        {{ aff.affiliation_id }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>
            Other institutional services
        </h3>
        <button type="submit" class="logout-btn">Disconnect LMS</button>
    </div>
</div>

{% include 'partials/navbar.html' %}
{% endblock %}