{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome, {{ name }}</h1>
    <p>
        <span class="badge">{{ role }}</span> <small style="color: #666; margin-left: 10px;">ID: {{ id }}</small>
    </p>
    
    <hr>
    
    {% if status_code == 'STA' %}
        <h2>Staff Administration</h2>
        <ul>
            <li>Search Student Records</li>
            <li>Audit Identity Sequences</li>
            <li><a href="{% url 'core:apply_affiliation' %}">Apply to a department</a></li>
        </ul>
    {% elif status_code == 'STU' %}
        <h2>Student Services</h2>
        <ul>
            <li><a href="{% url 'core:enrolment' %}">View My Enrolment</a></li>
            <li>Request Identity Letter</li>
            <li><a href="{% url 'core:apply_affiliation' %}">Apply to a module</a></li>
        </ul>
    {% else %}
        <h2>Admin Services</h2>
        <ul>
            <li><a href="{% url 'core:affiliation_approvals' %}">Approve staff and student affiliations</a></li>
            <li><a href="{% url 'admin:index' %}">Admin panels</a></li>
        </ul>
    {% endif %}
    <div>
        <h3>Your affiliations</h3>

        {% if not affiliations %}
        <p class="helptext">No affiliations found.</p>
        {% endif %}

        <ul>
            {% for aff in affiliations %}
                {% if not aff.is_active %}
                    <li class="helptext">
                        {{ aff.affiliation_id }} (⏳ Pending admin approval)
                    </li>
                {% else %}
                    <li>
                        {{ aff.affiliation_id }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>
            Other institutional services
        </h3>
        <div>
            <ul>
                <li><a href="{% url 'lms:index' %}">Learning Management System (LMS)</a></li>
            </ul>
            <form method="post" action="{% url 'lms:logout_and_revoke' %}" id="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Sign out and disconnect LMS from your institution account</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="navbar">
        <span>University System</span>
        <form method="post" action="{% url 'core:logout' %}" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Sign Out</button>
        </form>
    </div>
</footer>
{% endblock %}