{% extends 'base.html' %}

{% block title %}Request affiliation{% endblock %}

{% block content %}
<h1>Request affiliation</h1>

<div class="btn return-dashboard"><a href="{% url 'core:dashboard' %}">Return to dashboard</a></div>

<div id="affiliation-container">
    <form
        hx-post="{% url 'core:apply_affiliation' %}"
        hx-target="#submit-btn"
        hx-swap="outerHTML"
        hx-indicator="#spinner"
    >
        {% csrf_token %}

        <div class="form-group">
            <label>Affiliation Type:</label>
            <select name="affiliation_type" 
                    hx-get="{% url 'core:load_roles' %}" 
                    hx-target="#dependent-fields" 
                    hx-swap="innerHTML">
                <option value="">---------</option>
                {% for value, text in form.fields.affiliation_type.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="dependent-fields">
            <p class="text-muted">Please select an affiliation type first.</p>
        </div>

        <div id="submit">
            <button id="submit-btn" type="submit" class="btn">Submit application</button>
            <div id="spinner" class="htmx-indicator">
                <div class="loading-ring"></div>
            </div>
        </div>
    </form>
</div>

{% endblock %}