<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>
        Interesting API endpoints
    </h1>
    <ul>
        <li>
            <a href="http://127.0.0.1:8000/api/identity/1">http://127.0.0.1:8000/api/identity/1</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/identity/1/name">http://127.0.0.1:8000/api/identity/1/name</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/identity/1/name?context=lms">http://127.0.0.1:8000/api/identity/1/name?context=lms</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/identity/1/name?context=payroll">http://127.0.0.1:8000/api/identity/1/name?context=payroll</a>
        </li>
    </ul>
  </body>
</html>