{% extends 'base.html' %}

{% block title %}University Club Directory{% endblock %}

{% block content %}
<h1>Club Directory</h1>
<p>Welcome, {{ name }}!</p>
<section>
    <section id="your-courses">
        <h2>Your Clubs</h2>
        <ul>
            {% for club in clubs %}
            <li>
                {{ club.affiliation_id }}
                <button
                    hx-get="{% url 'clubs:view_roster' 'club' club.affiliation_id %}" 
                    hx-target="#course-roster-display" 
                    class="btn btn-primary">View roster
                </button>
            </li>
            {% endfor %}
        </ul>

        <div id="course-roster-display" class="main-content">
            <p class="placeholder">Select a club to view the roster.</p>
        </div>
    </section>
</section>
{% endblock %}