{% extends 'base.html' %}

{% block title %}Staff Registration{% endblock %}

{% block content %}

<div class="btn"><a href="{% url 'core:index' %}">Return to home</a></div>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<p>Upon successful registration, an institutional email address will automatically be generated for you.</p>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register">
</form>

{% endblock %}