<div>
    <h3>Class Roster for {{ aff.affiliation_name }}:</h3>
    <p class="text-muted">{{ aff.member_count|default:0 }} people found.</p>
    
    {% if aff.roster %}
    <table class="animated-fade-in">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Using preferred name?</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for person in aff.roster %}
            <tr>
                <td>{{ person.display_name }}</td>
                <td>
                    {{ person.display_name }}
                    {% if person.is_preferred %}
                        <span class="badge bg-soft-info text-info ml-1" 
                            style="font-size: 0.7rem;" 
                            title="Identity modified by ABAC Privacy Policy">
                            ❗ Using a preferred name
                        </span>
                    {% endif %}
                </td>
                <td>
                    <span class="badge badge-{{ person.role|lower }}">
                        {{ person.role }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>