{% extends 'base.html' %}

{% block title %}University LMS{% endblock %}

{% block content %}
<h1>LMS</h1>
<p>Welcome, {{ name }}!</p>
<section>
    <section id="your-courses">
        <h2>Your Courses</h2>
        <ul>
            {% for course in courses %}
            <li>
                {{ course.affiliation_id }}
                <button
                    hx-get="{% url 'lms:view_roster' 'course' course.affiliation_id %}" 
                    hx-target="#course-roster-display" 
                    class="btn btn-primary">View Classmates
                </button>
            </li>
            {% endfor %}
        </ul>

        <div id="course-roster-display" class="main-content">
            <p class="placeholder">Select a course to view the roster.</p>
        </div>
    </section>

    <section id="your-modules">
        <h2>Your Modules</h2>
        <ul>
            {% for module in modules %}
            <li>
                {{ module.affiliation_id }}
                <button
                    hx-get="{% url 'lms:view_roster' 'module' module.affiliation_id %}" 
                    hx-target="#module-roster-display" 
                    class="btn btn-primary">View Classmates
                </button>
            </li>
            {% endfor %}
        </ul>

        <div id="module-roster-display" class="main-content">
            <p class="placeholder">Select a module to view the roster.</p>
        </div>
    </section>
</section>
{% endblock %}