<div>
    <h3>Class Roster for {{ aff.affiliation_name }}:</h3>
    <p class="text-muted">{{ aff.members|default:0 }} people found.</p>
    
    {% if aff.roster %}
    <table class="animated-fade-in">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Using preferred name?</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for person in aff.roster %}
            <tr>
                <td>{{ person.display_name }}</td>
                <td>
                    {% if person.is_preferred %}
                        Yes <span aria-hidden="true">✔️</span>
                    {% else %}
                        No <span aria-hidden="true">✖️</span>
                    {% endif %}
                </td>
                <td>
                    <span class="badge badge-{{ person.role|lower }}">
                        {{ person.role }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>